<template>
  <div>
    <h1>Hello World</h1>
    <h3>{{ text }}</h3>
    <small>{{ subtext }}</small>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: 'fetching...',
      subtext: 'fetching...'
    }
  },
  mounted: async function () {
    const response = await fetch('/api/write')
    const jsonRespose = await response.json()
    this.text = jsonRespose.res

    const subResponse = await fetch('/api/write/hello')
    const jsonSubResponse = await subResponse.json()
    this.subtext = jsonSubResponse.res
  }
}
</script>

<style scoped lang="scss">
h3 {
  font-size: 15px;
  font-weight: 400;
}
</style>
